<div class="songcard">
	<div class="coverart">
			<img src=<%= song.coverart %> />
	</div>
	<div class="songinfo">
		<%= song.artist %> - <%= song.title %>
	</div>
	<% if song.present? %>
		<%= form_for song, url: playlist_songs_path(@playlist)  do |f| %>
			<%= f.hidden_field :title %>
			<%= f.hidden_field :artist %>
			<%= f.hidden_field :link %>
			<%= f.hidden_field :source %>
			<%= f.hidden_field :coverart %>
			<%= f.submit 'Add', class: 'button tiny' %>
		<% end %>
	<% end %>
</div>
